<div class="raw">
  <div class="col-4">
    <%= form_with url: root_path do |f| %>
        <%= f.text_field :query, class: "form-control", "data-controller": :search,
        "data-action": "keyup->search#search" %>
    <% end %> 
  </div>

  <div class="col-8">

  </div 
</div>
